select{
    text-align: right;
    padding: .5rem 1.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(114, 114, 114);
    font-size: 1.5rem;
}
option{
    border: none;
    outline: none;
    padding: 1rem!important;
    background-color: #f0f0f0!important;
    border-radius: 1px!important;
}